html,
body {
	background-color: rgba(0, 0, 50, 0.7);
	background-image: url("../images/bg2.jpg");
	background-size: cover;
}

nav .navbar-nav li a {
	color: rgba(255, 255, 255, 0.5) !important;
}

nav .navbar-nav li a:hover {
	color: rgba(255, 255, 255, 0.8) !important;
}

.btn {
	width: 5em;
}

.bg-transluscent {
	background: rgba(245, 245, 245, 0.9);
}

#portrait {
	height: 120px;
	width: auto;
}
